
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size : 30;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{

   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER_LEFT;
}
.table-view .cell{
   -fx-cell-size: 30;
  -fx-alignment: center-left;
  -fx-text-fill: #000000;
  -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
 .primary-button {
     -fx-background-color: #007bff; /* Couleur de fond */
     -fx-text-fill: white; /* Couleur du texte */
     -fx-font-size: 14px; /* Taille de la police */
     -fx-font-weight: 700; /* Poids de la police */
     -fx-padding: 8px 16px; /* Rembourrage du bouton */
     -fx-border-radius: 7px; /* Rayon du coin */
      -fx-font-family: "New Times";

 }

 .primary-button:hover {
     -fx-background-color: #0056b3; /* Couleur de fond au survol */
 }

 .primary-button:pressed {
     -fx-background-color: #003c80; /* Couleur de fond lorsqu'appuyé */
 }
.custom-textfield {
    -fx-background-color: #f8f9fa; /* Couleur de fond */
    -fx-border-color: #ced4da; /* Couleur de bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon du coin */
    -fx-prompt-text-fill: #6c757d; /* Couleur du texte d'invite */
}

.custom-textfield:hover {
    -fx-border-color: #a1a1a1; /* Couleur de bordure au survol */
}

.custom-textfield:focused {
    -fx-border-color: #007bff; /* Couleur de bordure lorsque le champ est en focus */
}
