
.backgroundImageEst{
    -fx-background-image: url("../Images/est.png");
    -fx-background-repeat: repeat;
}
.backgroundWhitTransparant{
       -fx-background-color: rgba(255, 255, 255, 0.7);
}
.table-view .column-header{
 -fx-cell-size : 50;
   -fx-background-color:   #2D75E8;
    -fx-padding : 5;
}
.table-view .column-header-background .filler {
    -fx-cell-size : 50;
    -fx-background-color:   #2D75E8;
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold;
   -fx-alignment: CENTER;
}
.table-view .cell{
   -fx-cell-size: 50;
  -fx-alignment: center;
  -fx-text-fill: #000000;
  -fx-padding : 5;
  -fx-alignment: CENTER;
}

.table-row-cell:selected {
    -fx-background-color:  rgb(127, 172, 243);
 }
 .table-row-cell:selected .text {
        -fx-fill : white ;

 }
/* styles.css */
/* styles.css */

/* Style pour le ContextMenu */

 .primary-button {
     -fx-background-color: #004BFF; /* Couleur de fond */
     -fx-text-fill: white; /* Couleur du texte */
     -fx-font-size: 14px; /* Taille de la police */
     -fx-font-weight: 700; /* Poids de la police */
     -fx-padding: 8px 16px; /* Rembourrage du bouton */
     -fx-border-radius: 10px; /* Rayon du coin */
      -fx-font-family: "New Times";
 }

 .primary-button:hover {
     -fx-background-color: #263FAA; /* Couleur de fond au survol */
 }

 .primary-button:pressed {
     -fx-background-color: #003c80; /* Couleur de fond lorsqu'appuyé */
 }

 .danger-button {
      -fx-background-color: #FF4136; /* Couleur de fond */
      -fx-text-fill: white; /* Couleur du texte */
      -fx-font-size: 14px; /* Taille de la police */
      -fx-font-weight: 700; /* Poids de la police */
      -fx-padding: 8px 16px; /* Rembourrage du bouton */
      -fx-border-radius: 7px; /* Rayon du coin */
       -fx-font-family: "New Times";
  }

  .danger-button:hover {
      -fx-background-color: #FF7F70; /* Couleur de fond au survol */
  }

  .danger-button:pressed {
      -fx-background-color: #B10F00; /* Couleur de fond lorsqu'appuyé */
  }


 .rest-button {
      -fx-background-color: #FFD700; /* Couleur de fond */
      -fx-text-fill: white; /* Couleur du texte */
      -fx-font-size: 14px; /* Taille de la police */
      -fx-font-weight: 700; /* Poids de la police */
      -fx-padding: 8px 16px; /* Rembourrage du bouton */
      -fx-border-radius: 7px; /* Rayon du coin */
       -fx-font-family: "New Times";
  }

  .rest-button:hover {
      -fx-background-color: #FFC300; /* Couleur de fond au survol */
  }

  .rest-button:pressed {
      -fx-background-color: #FFA500; /* Couleur de fond lorsqu'appuyé */
  }

.textfieldSearch {
    -fx-background-color: #f8f9fa; /* Couleur de fond */
    -fx-border-color: #ced4da; /* Couleur de bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon du coin */
    -fx-prompt-text-fill: #6c757d; /* Couleur du texte d'invite */
}

.textfieldSearch:hover {
    -fx-border-color: #a1a1a1; /* Couleur de bordure au survol */
}

.textfieldSearch:focused {
    -fx-border-color: #007bff; /* Couleur de bordure lorsque le champ est en focus */
}
.labelTitre {
     -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-text-fill: #333333 ;/* Couleur grise pour le texte */
    -fx-background-color: transparent;
}
.labelTitre:hover {
    -fx-text-fill: #666666; /* Couleur de texte plus foncée au survol */
}
.labelForm {
    -fx-font-size: 14px;
    -fx-font-family: "New Times";
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Couleur du texte */
    -fx-padding: 5px; /* Remplissage autour du texte */
    -fx-margin-bottom: 5px; /* Marge inférieure pour l'espace */
}
.labelForm:hover{
    -fx-text-fill: #666666; /* Couleur du texte */
}

.textFieldForm {
    -fx-font-size : 14px;
    -fx-font-family : "New Times";
    -fx-padding: 8px; /* Remplissage autour du champ */
    -fx-border-color : #a1a1a1; /* Couleur de la bordure */
     -fx-border-width : 1px; /* Largeur de la bordure */
     -fx-border-radius :  4px; /* Rayon du coin */
     -fx-prompt-text-fill: #6c757d; /* Couleur du texte d'invite */
      -fx-background-color:transparent;
}
.textFieldForm:focused {
    -fx-border-color: #007bff; /* Couleur de bordure au survol */
}

/* Style de base du ComboBox */
.combo-box {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
    -fx-border-radius: 5px; /* Rayon de la bordure */
    -fx-padding: 2px; /* Marge interne */
    -fx-font-size: 14px; /* Taille de police */
}

/* Style de la flèche du ComboBox */
.combo-box .arrow {
    -fx-background-color: transparent; /* Couleur de fond transparente */
    -fx-background-radius: 0; /* Rayon de la bordure de la flèche */
}

/* Style du bouton de la flèche du ComboBox */
.combo-box .arrow-button {
    -fx-background-color: transparent; /* Couleur de fond transparente */
}

/* Style de la flèche elle-même */
.combo-box .arrow-button .arrow {
    -fx-background-color: #555555; /* Couleur de la flèche */
}

/* Style de chaque élément de la liste déroulante */
.combo-box .list-cell {
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-font-size: 14px; /* Taille de police */
}

/* Style des éléments de la liste déroulante lorsque survolés */
.combo-box .list-cell:hover {
    -fx-background-color: #eefaa0; /* Couleur de fond au survol */
    -fx-text-fill: black; /* Couleur du texte */
}

/* Style de la vue de la liste déroulante */
.combo-box .list-view {
    -fx-background-color: #9295A5; /* Couleur de fond */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 1); /* Effet de l'ombre */
}

/* Style de l'élément sélectionné dans la liste déroulante */
.combo-box .list-cell:selected {
    -fx-background-color: #ffffff; /* Couleur de fond de l'élément sélectionné */
    -fx-text-fill: black; /* Couleur du texte */
}

.date-picker {
    -fx-font-size: 14px;
    -fx-background-color: #ffffff; /* Couleur de fond */
    -fx-text-fill: #333333; /* Couleur du texte */
    -fx-prompt-text-fill: #999999; /* Couleur du texte de l'invite */
    -fx-border-color: #cccccc; /* Couleur de la bordure */
}

.date-picker .arrow-button {
    -fx-background-color: transparent; /* Fond transparent */
}

.date-picker .arrow-button:hover {
    -fx-background-color: #f0f0f0; /* Couleur de survol */
}

.date-picker .arrow {
    -fx-background-color: #666666; /* Couleur de l'icône */
}

.date-picker .arrow:hover {
    -fx-background-color: #333333; /* Couleur de l'icône au survol */
}

.styleBorder {
    -fx-background-color: white; /* Couleur de fond avec opacité */
    -fx-border-color: white; /* Couleur de la bordure */
    -fx-border-width: 1px; /* Épaisseur de la bordure */
    -fx-border-radius: 8px; /* Rayon de la bordure */
    -fx-cursor: hand; /* Curseur */
     -fx-padding :10px 10px 10px 10px ;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.6), 10, 0, 0, 0); /* Effet d'ombre */
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}
.scroll-pane .scroll-bar {
    -fx-opacity: 0; /* Masquer la barre de défilement */
}
.root {
    -fx-background-color: rgba(0 , 0 , 0 , 0.5);
     -fx-background-radius : 10 ;
}
.my-text {
    -fx-font-family: "Verdana";
    -fx-font-size: 32;
    -fx-fill: #2E5A78; /* Bleu foncé */
}

.my-text:hover {
    -fx-fill: #4A90E2; /* Bleu plus clair au survol */
}

.my-text-with-shadow {
    -fx-effect: dropshadow(gaussian, #000000, 10, 0.2, 0, 0);
}

.my-fade-in {
    -fx-opacity: 0.0;
    -fx-transition: opacity 1s;
}
.labelStyleLogin {
    -fx-font-family: "Rubik";
    -fx-font-weight: bold;
    -fx-text-fill: #9D6CF3;
     -fx-cursor: hand;
     -fx-font-size: 40px;
}

.labelStyleLogin:hover {
    -fx-opacity:0.7 ;
}
.textfieldLogin{
    -fx-background-color: white; /* Couleur de fond */
     -fx-font-size: 14px;
    -fx-border-color: #ced4da; /* Couleur de bordure */
    -fx-border-width: 1px; /* Largeur de la bordure */
    -fx-border-radius: 4px; /* Rayon du coin */
    -fx-prompt-text-fill: #6c757d; /* Couleur du texte d'invite */
    -fx-padding : 6px;
}

.textfieldLogin:hover {
    -fx-border-color: #8D61DA; /* Couleur de bordure au survol */
}

.textfieldSearch:focused {
    -fx-border-color: #9D6CF3; /* Couleur de bordure lorsque le champ est en focus */
}
.login-button {
     -fx-background-color: #8D61DA;
     -fx-text-fill: white;
     -fx-font-size: 16px;
     -fx-font-weight: 700;
     -fx-padding: 8px 16px;
     -fx-border-radius: 20px;
     -fx-font-family: "Verdana Bold";
      -fx-cursor:hand;
 }

 .login-button:hover {
     -fx-background-color: #B68FF8; /* Couleur de fond au survol */
 }
 .login-button:pressed {
      -fx-background-color: #723FCA; /* Couleur de fond lorsqu'appuyé */
  }
  .labelFormLogin {
      -fx-font-size: 14px;
      -fx-font-family: "Rubik";
      -fx-font-weight: bold;
      -fx-text-fill: #958D99; /* Couleur du texte */
      -fx-padding: 5px; /* Remplissage autour du texte */
      -fx-margin-bottom: 5px; /* Marge inférieure pour l'espace */
       -fx-cursor:hand;
  }
  .labelForm:hover{
       -fx-text-fill: #A06EB9;
  }
  .labelLogoLogin {
      -fx-font-family: "Rubik";
      -fx-font-weight: bold;
      -fx-text-fill: #171515;
       -fx-cursor: hand;
       -fx-font-size: 20px;
  }
  /* styles.css */
  .RoleUserButton {
     -fx-background-color: white;
     -fx-border-color : #8D61DA;
     -fx-border-width : 1px;
      -fx-text-fill:  #8D61DA;
      -fx-font-size: 12px;
      -fx-font-weight: 700;
      -fx-padding: 5px 5px;
      -fx-border-radius: 10px;
      -fx-font-family: "Verdana Bold";
       -fx-cursor:hand;
  }










